.blackboard {
  width: 100vw;
  height: 85vh;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  &__controls {
    display: flex;
    flex-direction: column;
    margin-right: 5px;
  }
}

.header {
  width: 100vw;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  &__title {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 10px;
  }
}
body {
  background: linear-gradient(to bottom, #00ccff 0%, #0099ff 100%);
}