@import '../../config.scss';

.controls-container {
    display: flex;
}

.colors {
    border: 1px solid $border-color;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    &__option {
        cursor: pointer;
        width: 30px;
        height: 30px;
        border: 1px solid $border-color;
        &:hover {
            border: 1px solid grey;
        }
        &--red {
            background-color: red;
        }
        &--blue {
            background-color: blue;
        }
        &--yellow {
            background-color: yellow;
        }
        &--black {
            background-color: black;
        }
        &--green {
            background-color: green;
        }
        &--orange {
            background-color: orange;
        }
        &--white {
            background-color: white;
        }
        &--magenta {
            background-color: magenta;
        }
    }
}

.utils {
    border-radius: 3px;
    border: 1px solid $border-color;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    &__button {
        cursor: pointer;
        width: 30px;
        height: 30px;
        border: 1px solid $border-color;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            background-color: rgba(101, 244, 58, 0.502);
        }
    }
}

.size {
    border-radius: 50%;
    background-color: $border-color;
}

.square {
    border: 1px solid $border-color;
    width: 50%;
    height: 50%;
}

.circle {
    border: 1px solid $border-color;
    border-radius: 50%;
    width: 50%;
    height: 50%;
}